<template>
  <div class="w-full flex justify-center py-2">
    <router-link to="/" class="px-2">Home</router-link>
    <router-link to="/about" class="px-2">About</router-link>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
